@import "../../style/mixin";
@import "../../style/variables";

.signup,
.signin {
    background-image: url("../../../public//assets/img/banner01.jpg");
}

.payment,
.signup,
.signin {
    height: 100vh;
    background-size: cover;
    color: rgba(255, 255, 255, 0.7);

    .form {
        margin-top: 12rem;
        &-style {
            padding: 25px 45px;
            border-radius: 20px;
            max-width: 540px;
            background-color: rgb(0 8 30 / 90%);
            -webkit-box-shadow: 0px 0px 29.4px 0.6px rgb(0 0 0 / 50%);
            box-shadow: 0px 0px 29.4px 0.6px rgb(0 0 0 / 50%);
        }
        &-title {
            color: #e3e6ee;
            text-align: center;
            font-size: 4rem;
            font-weight: 700;
        }
    }

    &__link {
        font-size: 2rem;
        font-weight: 500;
        color: $textColor;
    }
}
