@import "../../style/variables";

.bill {
    padding-top: 120px;
    &-widget {
        padding: 30px 45px;
        margin-bottom: 30px;
        background: #0f0c29; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2a2a35, #07023a, #0f0c29); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2a2a35, #07023a, #0f0c29);
        border-radius: 20px;
        h5 {
            border-bottom: 1px solid #11326f;
            padding-bottom: 23px;
            font-size: 24px;
            font-weight: bold;
        }
    }

    &-ticked-info {
        background: #0f0c29; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2a2a35, #07023a, #0f0c29); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2a2a35, #07023a, #0f0c29);
        position: relative;
        padding: 30px;
        padding-bottom: 35px;
        border-radius: 20px;
        ul {
            width: 350px;
            margin: 0 auto;
            margin-top: 20px;
            .subtitle {
                color: #9aace5;
                font-size: 20px;
                font-style: italic;
            }
        }
        .title {
            font-size: 28px;
            margin-top: 10px;
            margin-bottom: 40px;
            text-align: center;
            border-bottom: 1px dashed #11326f;
            padding-bottom: 23px;
            font-weight: 600;
            text-transform: uppercase;
        }
        img {
            display: block;
            margin: 0 auto;
            width: 250px;
        }
        &::before {
            content: "";
            position: absolute;
            top: -22px;
            width: 48px;
            height: 48px;
            background-color: #001232;
            border-radius: 50%;
            left: 43%;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: -22px;
            width: 48px;
            height: 48px;
            background-color: #001232;
            border-radius: 50%;
            left: 43%;
        }
    }
    &-confirm-btn {
        background: #0f0c29; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2a2a35, #07023a, #0f0c29); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2a2a35, #07023a, #0f0c29);
        text-align: center;
        margin-top: 30px;
        padding: 30px;
        border-radius: 20px;
        .wrapper {
            width: 350px;
            margin: 0 auto;
        }
        .bill-total {
            color: #9aace5;
            font-size: 20px;
            font-style: italic;
        }
        .confirm-btn {
            background-color: $secondaryColor;
            padding: 11px 24px;
            font-weight: bold;
            color: #fff;
            text-transform: uppercase;
            border-radius: 25px;
            margin-top: 15px;
            transition: all 0.3s ease;
        }
    }
}
