* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 100%; }

button {
  cursor: pointer; }

input {
  line-height: normal; }

input,
button,
select,
textarea {
  font-family: inherit; }

ul,
ol {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  display: block; }

*:before,
*:after {
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.btn-ticket {
  background-image: linear-gradient(to right, #0a64a7 0%, #258dcf 51%, #3db1f3 100%) !important;
  color: #fff;
  width: 100%; }

.btn-user {
  color: #fff; }
  .btn-user:hover {
    color: #fff;
    outline: none; }

.btn-submit {
  background-image: linear-gradient(to right, #fc3606 0%, #fda085 51%, #fc7704 100%) !important;
  color: #fff;
  width: 40%;
  border: 0;
  float: right;
  padding-top: 10px;
  padding-bottom: 10px; }

.btn-upd {
  background-image: linear-gradient(to right, #0a64a7 0%, #258dcf 51%, #3db1f3 100%);
  color: #fff; }

.breadcrumb {
  font-size: 23px;
  background-color: transparent;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px; }
  .breadcrumb span {
    color: #6399C8; }

.title {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #337ab7;
  color: white; }

.title-center {
  margin-bottom: 30px;
  font-size: 33px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(to right, #39adf0 0%, #075fa3 100%);
  border-image-slice: 1;
  border-width: 0px 0px 4px 0px; }

.title-admin {
  margin-bottom: 30px;
  font-size: 33px;
  color: #075fa3;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(to right, #39adf0 0%, #075fa3 100%);
  border-image-slice: 1;
  border-width: 0px 0px 4px 0px; }

.action-item {
  font-weight: 700;
  font-size: 17px; }
  .action-item:not(:last-child)::after {
    content: "|";
    padding-left: 20px;
    height: 100%; }

.seatBtn {
  background-color: #444451;
  color: #ccc;
  text-align: center;
  font-size: 17px;
  height: 30px;
  width: 30px;
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }
  .seatBtn.selectedNot, .seatBtn.selected {
    background-color: #03599d; }
  .seatBtn.occupied {
    background-color: red; }
    .seatBtn.occupied:hover {
      cursor: unset; }
  .seatBtn:hover {
    cursor: pointer; }

.pre-header {
  color: #fff;
  border-bottom: 1px solid #ffffff;
  line-height: 1.2;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background: #000000;
  font-size: 14px; }
  .pre-header_item {
    padding-left: 8px;
    padding-right: 8px;
    display: inline-block; }
    .pre-header_item.reg {
      border-left: 1px solid #ffffff; }
    .pre-header_item a {
      transition: all 0.4s; }
      .pre-header_item a:hover {
        text-decoration: underline;
        color: #fff; }
  .pre-header_usa {
    margin: auto 0; }

.header_menu_item a {
  color: #333;
  display: block;
  padding: 24px 12px 24px;
  font-size: 15;
  font-weight: 700;
  text-transform: uppercase; }
  .header_menu_item a:hover {
    color: #6399C8; }

.footer {
  border-top: 2px solid #ccc;
  margin-top: 90px; }
  .footer_left {
    font-size: 14px;
    font-weight: 600; }
    .footer_left img {
      width: 80%; }
  .footer_title {
    display: inline-block;
    font-size: 20px;
    padding-bottom: 7px;
    margin: 0 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to right, #39adf0 0%, #075fa3 100%);
    border-image-slice: 1; }
  .footer_connect .social {
    font-size: 20px; }
  .footer_contact .coop {
    font-size: 15px;
    font-weight: 700; }
  .footer_contact h5,
  .footer_contact p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 600; }
  .footer_contact .mail {
    font-weight: 700; }

.movie-img {
  border-radius: 20px; }

.movie-title {
  margin-top: 5px;
  margin-bottom: 20px;
  color: #337ab7;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.7;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical; }

.movie-text {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px; }
  .movie-text span {
    font-weight: 700; }

.movie-detail {
  padding-bottom: 30px; }
  .movie-detail_img img {
    border-radius: 20px; }
  .movie-detail_name {
    font-size: 33px;
    font-weight: 700; }
  .movie-detail_summary {
    font-size: 18px;
    line-height: 1.3; }
  .movie-detail_info {
    font-size: 18px; }
    .movie-detail_info span {
      font-weight: 700;
      text-transform: uppercase; }
  .movie-detail .tab {
    border-top: 1px solid #6399C8; }
  .movie-detail_tabs {
    position: relative; }
    .movie-detail_tabs .tab-item {
      min-width: 80px;
      padding: 16px 25px 11px 25px;
      font-size: 20px;
      text-align: center;
      color: #03599d;
      background-color: #fff;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom: 5px solid transparent;
      opacity: 0.6;
      cursor: pointer;
      transition: all 0.5s ease; }
      .movie-detail_tabs .tab-item:hover {
        opacity: 1;
        background-color: rgba(56, 26, 189, 0.05);
        border-color: rgba(56, 26, 189, 0.05); }
      .movie-detail_tabs .tab-item.active {
        opacity: 1; }
    .movie-detail_tabs .line {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 6px;
      border-radius: 15px;
      background-color: #03599d;
      transition: all 0.2s ease; }
  .movie-detail_tab-content {
    padding: 28px 0; }
    .movie-detail_tab-content .tab-pane {
      color: #333;
      display: none; }
      .movie-detail_tab-content .tab-pane span {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 18px; }
      .movie-detail_tab-content .tab-pane_item a {
        color: #333333;
        background-color: #E5E5E5;
        width: 100%;
        opacity: 0.7; }
        .movie-detail_tab-content .tab-pane_item a:hover {
          opacity: 1; }
      .movie-detail_tab-content .tab-pane.active {
        display: block; }

.trailer {
  background-color: #3c3e4d; }
  .trailer .title-show {
    display: block;
    text-align: center; }
  .trailer_title {
    margin-bottom: 30px;
    font-size: 33px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to right, #39adf0 0%, #075fa3 100%);
    border-image-slice: 1;
    border-width: 0px 0px 4px 0px; }

.booking_notice {
  color: red;
  background-color: #fcb952;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px; }

.booking_seat-status {
  display: flex; }

.booking_seat-main .pay_item {
  font-size: 17px; }

.booking_name {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5;
  color: #03599d; }

.booking h4 {
  font-size: 17px;
  font-weight: 600; }

.booking_info {
  font-weight: 600; }

.booking hr {
  border-top: 2px dashed #222020; }

.booking_cf, .booking_form {
  font-size: 14px;
  margin-top: 20px;
  height: fit-content; }

.booking .payment_title {
  height: 35px; }
  .booking .payment_title img {
    height: 100%; }
  .booking .payment_title h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
    height: 35px;
    float: left;
    margin-left: 12px;
    color: #494c62; }

.booking .payment_seat_total {
  color: #fd2802; }

.booking .payment_option-title {
  font-size: 18px;
  margin-bottom: 25px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  font-weight: bold; }

.booking .payment_option label img {
  width: 40px;
  float: left;
  margin-left: 5px;
  margin-right: 10px; }

.booking .payment_combo .comboItem {
  border-top: 1px solid #ccc; }
  .booking .payment_combo .comboItem td {
    padding-top: 20px;
    padding-bottom: 20px; }
  .booking .payment_combo .comboItem_count {
    width: 20%; }
  .booking .payment_combo .comboItem span {
    width: 28px;
    height: 28px;
    border: none;
    cursor: pointer; }
  .booking .payment_combo .comboItem_increase {
    background-color: #03599d;
    color: white; }
  .booking .payment_combo .comboItem_decrease {
    background-color: #dfdfdf;
    color: black; }

.booking .payment_lastTotal .quantiy {
  text-align: right;
  font-weight: 500;
  color: #494c62;
  font-size: 18px; }

.booking .payment_lastTotal .lastTotal {
  color: red;
  font-size: 20px;
  font-weight: 400;
  text-align: right; }

.success {
  margin: 0 auto;
  text-align: center; }
  .success_title h1 {
    margin-bottom: 30px;
    font-size: 33px;
    color: #6399C8; }
  .success_main .one {
    font-size: 20px;
    font-weight: 500; }
  .success_link a {
    font-size: 20px;
    color: #337ab7; }

.reg-form,
.login-form {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 90px; }

.error {
  color: red; }
