$primaryColor: #04020b;
$secondaryColor: #31d7a9;
$navColor: #3c484f;
$textColor: #555;
$blackColor: #000000;
$whiteColor: #ffffff;
$borderDefault: 1px solid #ebebeb;
$backgroundColor: #001232;
$buttonColor: #212529;
$decreaseBtn: #e3e3ee;
$increaseBtn: #8fbde4;
$bgTotalCard: #f5f5f5;
$accept: #3fdb10;
$reject: #f50c0c;

//z-index
$z-modal: 9000;
$z-overlay: 8000;
$z-dropdown: 7000;
$z-header: 6000;
$z-footer: 5000;
$z-slider-btn: 1;
