.btn-ticket {
    background-image: linear-gradient(to right, #0a64a7 0%, #258dcf 51%, #3db1f3 100%) !important;
    color: #fff;
    width: 100%;
}
.btn-user {
    color: #fff;
    &:hover {
        color: #fff;
        outline: none;
    }
}
.btn-submit {
    background-image: linear-gradient(to right, #fc3606 0%, #fda085 51%, #fc7704 100%) !important;
    color: #fff;
    width: 40%;
    border: 0;
    float: right;
    @include paddingY(10px, 10px);
}
.btn-upd {
    background-image: linear-gradient(to right, #0a64a7 0%, #258dcf 51%, #3db1f3 100%);
    color: #fff;

}