@import "../../../style/variables";

.movie {
    margin-bottom: 30px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 14px;
    padding: 14px;
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    display: flex;
    flex-direction: column;
    height: 550px;
    justify-content: flex-start;
    &__action-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    &__thumb {
        position: relative;
        border-radius: 10px;
        overflow: hidden;
    }
    &__img {
        width: 100%;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
    &__btn {
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;
        border-radius: 18px;
        display: inline-block;
        padding: 6px 20px;
        svg {
            margin-left: 5px;
        }
    }
    &__content {
        margin-top: auto;
    }

    &__name {
        padding: 14px 0;
        text-transform: capitalize;
        border-bottom: 1px solid #11326f;
        text-align: center;
        font-size: 24px;
        color: #fff;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        color: #fff;
        li {
            span {
                padding-left: 10px;
            }
        }
    }

    &:hover .movie__img {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    &:hover .movie__name {
        color: $secondaryColor;
    }
}
.edit {
    background: #00b4db; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083b0, #00b4db); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #0083b0,
        #00b4db
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.delete {
    background: #ed213a !important; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291e, #ed213a) !important; /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #93291e,
        #ed213a
    ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
