@import "../../../style/variables";

.movie-manager {
    &__add-btn {
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;
        margin-left: 3rem;
        border-radius: 18px;
        display: inline-block;
        padding: 11px 40px;
        background: #24c6dc; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #514a9d, #1a636d); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #514a9d, #1a636d);
        svg {
            margin-left: 5px;
        }
    }
}
.form-modal-admin {
    height: 360px;
    overflow-y: auto;
}
.form-wrapper {
    width: 90%;
}
.form-gr {
    margin: 10px 20px;
}
.form-label {
    font-weight: bold;
    font-size: 16px;
    color: #272727;
}
.form-input {
    box-shadow: none;
    color: #272727;
    padding: 10px 20px !important;
    font-size: 16px !important;
    border: $borderDefault;
    border-radius: 15px !important;
    background-clip: border-box;
    background-clip: initial;
    &:focus {
        border: 1px solid $secondaryColor;
    }
}
.w-100 {
    width: 100%;
}
.w-20 {
    width: 18%;
}
.fence {
    font-size: 20px;
    margin: 0 10px;
    color: #fff;
}
.special {
    width: 130px !important;
    padding: 15px !important;
}

.type-movie {
    width: 120px;
    padding: 10px;
    color: #fff;
    background-color: rgb(68, 89, 91);
    margin-right: 10px;
    border-radius: 10px;
}
.type-movie-active {
    background-color: rgb(69, 154, 123) !important;
}
.room-wrapper {
    height: 288px;
    overflow-y: auto;
    span {
        color: #2a2a2a;
        font-weight: bold;
    }
}
.room-default {
    height: 62px;
}
