<div class="mt-4">
  <form method="get" action="">
    <div class="form-group">
      <label for="search-input">Nhập từ khóa</label>
      <input
        type="text"
        class="form-control"
        id="search-input"
        placeholder="Search"
        name="search"
      />
    </div>
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
  </form>
</div>
