@import "../../style/mixin";
@import "../../style/variables";

.form-group {
    margin-bottom: 15px;

    .form-label {
        font-weight: 700;
        color: #ccc;
    }

    .form-input {
        box-shadow: none;
        padding: 1.4rem 2.4rem;
        height: 4rem;
        border: $borderDefault;
        border-radius: 8px;
        background-clip: border-box;
        background-clip: initial;
        &:focus {
            border: 1px solid $secondaryColor;
        }
    }
}
.err {
    color: red;
}
